* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page_dashboard {
    background-color: rgb(255, 255, 255);
      

}


.main-container {
    display: flex; /* Sidebar a la izquierda, resto a la derecha */
   
    min-height: 100vh;

}

.right-section {
    flex: 1; /*para ocupar todo el lado restante */
    flex-direction: column; /* top bar arriba y el content abajo */
    width: calc(100% - 250px);
}



#sidebar-placeholder {
    width: 250px; /* El mismo ancho que tu sidebar real */
    min-height: 100vh;
    border-right: 1px solid #e2e8f0;
}


.content {
    padding: 30px;
    background-color: #f8fafc; /* color de fondo para diferenciar del buscador */
}

#titulo_dashboard{
    font-style: normal;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 5px;
}

#subtitulo_dashboard{
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    color: #718096; /* Gris para el subtítulo */
}

.titulo-dashboard-container{ /*para separar el contenedor de los cuadros*/
    margin-bottom: 10px;
}





.cuadros-dashboard{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    background-color: #f8fafc; 
    margin-bottom: 30px;
}

.card{
    border: 1px solid #00bfa5;
    border-radius: 12px;
    transition: transform 0.2s;
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.07);
}




.medio-de-cuadro{
    margin-bottom: 40px;
    margin-left: 5px;
}

.card:hover { /*hover de ? */ 
    transform: translateY(-5px); /* Efecto sutil al pasar el mouse */
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.card-title {
    color: #718096;
    display: block;
    margin-bottom: 10px;
}

.card-value{
    font-size: 22px;
    font-weight: 800;
    color: #1a202c;
    margin: 0;  
    display: block;
}

.card-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 45px;
    height: 45px;

}


.cuadro-debajo{
    width: 100%;
    border: 1px solid #00bfa5;
    border-radius: 12px;
    background-color: #ffffff;
}

.Titulo-de-cuadro{
    display: block;
    padding: 0px 20px;
    padding-top: 10px;
    color: #4a5568;
}

.fila-pasante{
    display: flex;
    border: 1px solid #00bfa5;
    border-radius: 12px;
    margin-bottom: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

.fila-pasante:hover{
    transform: translateY(-4px); /* Efecto sutil al pasar el mouse */
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    background-color: #eef2f2;
    transition: 0.3s; /* Para que el movimiento sea suave y no un brinco */
}

.user-info{
    display:flex;
}

.avatar-circle{
    margin-right: 10px;
    padding:20px;
}

.user-details{
   margin-top: 20px; 
   margin-right: 10px;

}

.area-tag{
    margin-top: 20px;
}

.espacio-cuadro-filas{
   padding:20px 10px;
   padding-bottom: 30px;
}   



.material-symbols-outlined {
    color: #00bfa5;           /* Tu color turquesa */
    font-size: 30px;          /* Ajusta el tamaño del icono */
    vertical-align: middle;   /* Para que se alinee bien con el texto */
    font-variation-settings:
      'FILL' 0,               /* 0 para icono lineal, 1 para relleno */
      'wght' 400,             /* Grosor de la línea (100 a 700) */
      'GRAD' 0,
      'opsz' 24;
}


.card:hover .material-symbols-outlined {
    color: #008f7a;           /* Un turquesa más oscuro al pasar el mouse */
    transform: scale(1.1);    /* Un pequeño efecto de crecimiento */
    transition: 0.3s;
}
