

.page_dashboard {
    background-color: rgb(255, 255, 255);
    display: flex;
    

}


.main-container {
    display: flex; /* Sidebar a la izquierda, resto a la derecha */
    width: 100%;
    min-height: 100vh;
    
}

.right-section {
    flex: 1; /*para ocupar todo el lado restante */
    display: flex;
    flex-direction: column; /* top bar arriba y el content abajo */
}

#sidebar-placeholder {
    width: 250px; /* El mismo ancho que tu sidebar real */
    min-height: 100vh;
    border-right: 1px solid #e2e8f0;
}

.top-bar {
    background-color: white;
    padding: 15px 30px;
    border-bottom: 1px solid #e2e8f0;
    display: flex;  border-right: 1px solid #e2e8f0; /* Agrega un borde a la izquierda */
    align-items: center;
    margin-bottom: 0; 
}

.content {
    flex: 1;
    padding: 01%;
    background-color: #f8fafc; /* color de fondo para diferenciar del buscador */
}

#titulo_dashboard{
    font-style: normal;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 5px;
}

#subtitulo_dashboard{
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    color: #718096; /* Gris para el subtítulo */
}

.titulo-dashboard-container{ /*para separar el contenedor de los cuadros*/
    margin-bottom: 10px;
}

.cuadros-dashboard{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2.78%, 23%));
    gap: 2%;
    background-color: #f8fafc; 
    padding-bottom: 5%;
    padding-right: 0.01%;
    padding-left: 1%;
}

.card{
    border: 1px solid #00bfa5;
    border-radius: 12px;
    display: block;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s;
    height: 140%;
    width: 100%;
     box-shadow: 0 10px 20px rgba(0,0,0,0.07);
}


.top-de-cuadro{
    padding: 50px ;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 30px;
    padding: 10px 40px;
}

.medio-de-cuadro{
    margin-bottom: 40px;
    margin-left: 5px;
}

.card:hover { /*hover de ? */ 
    transform: translateY(-5px); /* Efecto sutil al pasar el mouse */
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.card-title {
    color: #718096;
    display: block;
    margin-bottom: 10px;
}

.card-value{
    font-size: 22px;
    font-weight: 800;
    color: #1a202c;
    margin: 0;  
    display: block;
}

.card-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 45px;
    height: 45px;

}


.cuadro-debajo{
    padding: auto  20px;
    border: 1px solid #00bfa5;
    border-radius: 12px;
}

.Titulo-de-cuadro{
    display: block;
    padding: 0px 20px;
    margin-top: 5px;
    color: #4a5568;
}

.fila-pasante{
    padding: auto 20px;
    display: flex;
    border: 1px solid #00bfa5;
    border-radius: 12px;
    margin-bottom: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

.fila-pasante:hover{
    transform: translateY(-4px); /* Efecto sutil al pasar el mouse */
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    background-color: #eef2f2;
    transition: 0.3s; /* Para que el movimiento sea suave y no un brinco */
}

.user-info{
    display:flex;
}

.avatar-circle{
    margin-right: 10px;
    padding:20px;
}

.user-details{
   margin-top: 20px; 
   margin-right: 10px;

}

.area-tag{
    margin-top: 20px;
}

.espacio-cuadro-filas{
   padding:20px 10px;
}   

