/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(243, 235, 235);
} CONFIGURACIONES GENERALES*/
body {
    background-color: turquoise;
}

#index {
    color: rgb(219, 168, 168);
    text-align: center;
}

button {
    font-family: 'Times New Roman', Times, serif;
    color: turquoise;
    background-color: rgb(0, 0, 0);
}
