/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(243, 235, 235);
} CONFIGURACIONES GENERALES*/
body {
    background-color: turquoise;
}

#index {
    color: rgb(219, 168, 168);
    text-align: center;
}

button {
    font-family: 'Times New Roman', Times, serif;
    color: turquoise;
    background-color: rgb(0, 0, 0);
}

.page_login {
    background-color: rgb(243, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.login {
    /* width: 300px; esto es para limitar el espacio pero no lo quiero debido al color de fondo */
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    height: 400px;
}

.login h1 {

    width: fit-content;
    margin-left: auto;  /* Estos dos márgenes sirven para */
    margin-right: auto; /* centrarlo si usas fit-content */

    font-size: 1.2rem;
    font-weight: bold;

    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    border: 10px solid turquoise;
    border-radius: 7px;
    border-width: 10px;
    padding: 5px 15px;
    background-color: turquoise;
}

.bold-text {
    font-size:30px;
    font-weight: bold;
    color: rgb(19, 4, 4);
    display: block; /* para que ocupe toda la línea */
    margin-bottom: 10px;  /* Separación pequeña */
}

.system-name {
    color: rgb(108, 107, 107);
}

#login_info {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    padding: 20px; /* Espacio interno para que no quede tan pegado al borde */
}

label[for ="password"], label[for ="username"] {
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    padding: 5px 0px;
    text-align: left;
    font-size: 14px;

}

input[type = "text"], input[type = "password"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.input-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
}

.input-icon {
    position: absolute;
    left: 12px;           /* Distancia desde el borde izquierdo */
    top: 50%;             /* para centrar */
    transform: translateY(-50%);
    color: #a0aec0;       /* Gris copiando a figma bro */
    pointer-events: none; /* quitamos evento porque no sirve para eso  */
    background-color: transparent;
}

.input-container input {
    width: 100%;
    padding: 12px 12px 12px 40px; /* El padding izquierdo (40px) deja espacio para el icono */
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    background-color: rgb(255, 255, 255);
}


#olvidar_contraseña{
    background-color: rgb(255,255, 255);
    text-align: right;
    font-size: 14px;
    color: #4a5568;
    border: none;
    text-decoration: none; /* Elimina el subrayado del enlace */
    display: block; /* Para que ocupe toda la línea y se alinee a la derecha */
}

input[type = "submit"][value = "Iniciar sesión"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(0, 0, 0);
    color: turquoise;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    display: block;
}


.google-auth-container{
    background-color: rgb(255, 255, 255);
    border: blue;
    margin: 8px auto 10px;
    display: block;    
}

.diver{
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
}

.diver span {
    background-color: rgb(255, 255, 255);
    padding: 0 10px;
    color: #4a5568;
}

#logo_google {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle; /* Para alinear el logo con el texto */
    background-color: transparent;
    
}

.google-btn {
    margin: 8px auto 0;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    padding: 10px 40px;
    cursor: pointer;
    display: block;
    font-family: 'Inter', sans-serif;
    
}

.page_dashboard {
    background-color: rgb(255, 255, 255);
    display: flex;
    

}

.sidebar-header {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    /* Esta es la línea divisoria */
    border-bottom: 1px solid #e2e8f0; 
    margin-bottom: 10px;
    border-right: 1px solid #e2e8f0; /* Agrega un borde a la izquierda */
}


.sidebar-header h2 {
    background-color: rgb(255, 255, 255);
    margin: 0;
    font-size: 20px;
    font-weight: 800;
    color: #1a202c;
}

.sidebar-header span {
    background-color: rgb(255, 255, 255);
    font-size: 12px;
    color: #718096; /* Gris para el subtítulo */
}

.sidebar-menu {
    background-color: rgb(255s, 255, 255);
    padding: 10px;
    border-right: 1px solid #e2e8f0;
    margin-bottom: 10px; 
    text-decoration: none;
}



.menu-item {
    list-style: none;
    background-color: transparent;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 8px;
    color: #4a5568;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    transition: 0.3s;

}

.menu-item.active {
    background-color: #00bfa5; /* El turquesa de tu imagen */
    color: white;
}

/* Efecto al pasar el mouse sobre los otros botones */
.menu-item:hover:not(.active) {
    background-color: #edf2f7;
}

.menu-item a {
    text-decoration: none;
    color: inherit; /* Hereda el color del elemento padre */
    display: block; /* Para que ocupe toda la superficie del menú */
}

.page_Distribucion {
    background-color: rgb(255, 255, 255);
    display: flex;
    
}

.main-container {
    display: flex; /* Sidebar a la izquierda, resto a la derecha */
    width: 100%;
    min-height: 100vh;
}

.right-section {
    flex: 1; /*para ocupar todo el lado restante */
    display: flex;
    flex-direction: column; /* top bar arriba y el content abajo */
}

.search-container {
    position: relative; /* es para decir que lo que contenge se base en la posicion del contexto y no en una general */
    /*se vuelve punto de referencia para sus hijos yeaaa */
    width: 400px; 
    display: block;
}

.search-icon{
    position: absolute; /*para que no tomen en cuenta la existencia*/
    left: 15px;
    top: 50%; /*para poner a la mitad de la altura */
    transform: translateY(-50%);/* usada con top para cuadrar algo a la mitad exactacta */
    color: #a0aec0;
    font-size: 14px;
}

input[type = "text"][id = "global-search"]{
    padding-left: 40px;
    font-size: 15px;
    border-radius: 12px;
}

input[type = "text"][id = "global-search"]:hover{
    transform: translateY(-5px); 
    box-shadow: 0 4px 12px rgba(0,0,0,0.1); /* Un poco más de sombra para que se note */
    transition: 0.3s; /* IMPORTANTE: Para que el movimiento sea suave y no un brinco */
}


.top-bar {
    background-color: white;
    padding: 15px 30px;
    border-bottom: 1px solid #e2e8f0;
    display: flex;
    align-items: center;
    margin-bottom: 0; 
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #f8fafc; /* color de fondo para diferenciar del buscador */
}

#titulo_dashboard{
    font-style: normal;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 5px;
}

#subtitulo_dashboard{
     background-color: rgb(255, 255, 255);
    font-size: 15px;
    color: #718096; /* Gris para el subtítulo */
}

.titulo-dashboard-container{ /*para separar el contenedor de los cuadros*/
    margin-bottom: 10px;
}

.cuadros-dashboard{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 350px));
    gap: 20px;
    padding: 30px 0;
    margin-left: 50px;
}

.card{
    border: 1px solid #00bfa5;
    border-radius: 12px;
    display: block;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s;
    margin-right: 30px;
}


.top-de-cuadro{
    padding: 50px ;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 30px;
    padding: 10px 40px;
}

.medio-de-cuadro{
    margin-bottom: 40px;
    margin-left: 5px;
}

.card:hover { /*hover de ? */ 
    transform: translateY(-5px); /* Efecto sutil al pasar el mouse */
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.card-title {
    color: #718096;
    display: block;
    margin-bottom: 10px;
}

.card-value{
    font-size: 22px;
    font-weight: 800;
    color: #1a202c;
    margin: 0;  
    display: block;
}

.card-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 45px;
    height: 45px;

}


.cuadro-debajo{

    border: 1px solid #00bfa5;
    border-radius: 12px;
}

.Titulo-de-cuadro{
    display: block;
    padding: 0px 20px;
    color: #4a5568;
}

.fila-pasante{
    padding: auto 20px;
    display: flex;
}
